// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {}

@media (max-width: 1024px) {
  .top-block {
    .magnifier {margin-top: 20px;}
    .logo {width: 220px;}
    .mail, .phone {margin-left: 0; width: auto;}
    .login, .language {width: 100px;}
    .last {float: right;}
    .search {width: 376px; left: -309px;}
  }
  .menu-wrapper {
    position: absolute;
    z-index: 222;
    width: 670px;
    margin: 15px 0 0 -5px;
    .menu-toggle {
      display: block;
    }
    li {
      width: 100%;
      background: #ffffff;
      padding: 10px 20px;
      margin-right: 0;
      border-bottom: 1px solid #ebebeb;

      .sub-menu {a {padding: 0;} li {padding: 10px 0;}}}
    a {padding: 0;}
    a:hover {border-bottom: none;}

  }
  .menu {display: none;}
  #billboard {
    .flexslider {
      .flex-control-nav {width: 970px; top: 335px;}

      .slides {height: 576px;
        .slider-info {
          width: 970px;
          p {margin-top: 30px;}}}}}
  .form {padding-left: 0;}
  .form .form-selector {margin-left: 5px;}
  .temperature, .virtual, .pictures {display: none;}
  .announcements {margin: 25px 0;}
  .footer{.footer_logo {display: none;}}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
  .top-block {
    .logo {width: 220px;}
    .mail, .phone {margin: 10px 20px 0 0;}
    .login, .language {width: 100px;}
    .login, .language, .social {margin: 15px 10px 0 0;}
    .search {width: 370px; left: -210px; top: -35px;}
    .magnifier {margin: 15px 0 0 0;}
  }
  .float-right {float: left; margin-left: 15px;}
  .menu-wrapper {
    position: absolute;
    z-index: 222;
    width: 670px;
    margin: 10px 0 0 -5px;
  }
  .menu {display: none;}
  .top-block li.last {float: left;}
  #billboard {
    .flexslider {
      .flex-control-nav {width: 728px; top: 230px; text-align: center; z-index: 50;}
      .flex-direction-nav a {display: none;}
      .slides {height: 450px;
        .slider-info {
          font-size: 36px;
          padding: 0 20px;
          width: 748px;

          h1 {font-size: 36px;}
          .action {position: absolute; top: 25px; right: 25px;}}}}}
  .form p {margin: 10px 0 0 0;}
  .form p input {width: 120px;}
  .submit {margin: 20px 0 0 0;}
  .about {margin-top: 40px;}
  .flexslider-2 .flex-direction-nav {.flex-next, .flex-prev {display: none;}}
  .temperature, .virtual, .pictures {display: none;}
  .footer p {width: auto;}
  .products .products_text p {width: 50%; margin-right: 50px;}
}

// Extra small devices (portrait phones, less than 544px)
@media (max-width: 543px) {
  .top-block {height: auto; background: #ffffff; float: none; top: 0; margin-bottom: 0;
    .logo {margin: 0 auto; img {margin: 0 auto; display: block;}}
    .magnifier{position: absolute; top: -100px; right: 25px;}
    .search {width: 300px; left: -260px; top: -20px;}}
  .grey-block {display: none;}
  .white-block {display: none;}
  .login, .language, .social, .mail, .phone {display: none;}
  .menu-wrapper .menu-toggle {position: absolute; top: -100px; left: -60px;}
  .menu {position: absolute;}
  .top-block li {width: 300px; left: -20px;}
  .menu-wrapper .menu-toggle-line {background: #363636;}
  .overslider {box-shadow: 0 3px 0 0 #c0a878; position: relative; background: #fafafa; bottom: 6px;}
  .form {box-shadow: none; .hotel {z-index: 22;}}
  #billboard {.flexslider {
    .slides {height: 245px;}
    .flex-control-nav {
      width: 380px;
      text-align: left;
      top: 170px;
    }
      .slides {.slider-info {
        width: 380px;
        padding: 0;
        margin: 0 auto;

        p {margin-top: 5px; font-size: 22px;}
        h1 {font-size: 22px; margin: 0;}
        .action {position: relative; top: 0; left: 0;}
        }
      }
    }
  }
  .news .image_thumbnail {float: none;}
  .news .news_text h6 {margin-top: 10px;}
  .products .products_text p {width: 100%;}
  .copyright_wraper .right_border {border-right: none;}
  .copyright_wraper a {display: block; margin: 0 auto; padding: 10px 0;}
  .copyright_wraper .designed {padding: 10px 0;}
  .copyright_wraper {.copyright, .designed {float: none; margin: 0 auto; text-align: center;}}
  .footer{.footer_logo {display: block; margin: 20px auto;}}
  .footer {padding-bottom: 10px;}
  .footer h3 {margin-top: 20px;}
}


// 320px only
@media (max-width: 320px) {
  .top-block {
    .search {width: 250px; left: -270px;}
    .magnifier {right: 5px;}
  }
  .menu-wrapper .menu-toggle {left: -50px;}
  #billboard {.flexslider {.flex-control-nav {
    width: 300px;}
    .slides {.slider-info {
      width: 300px;}}}}
}