@media screen and (max-width: 1080px) {

  .header-contacts {display: none;}

  .menu-wrapper {

    .menu-toggle {
      position: absolute;
      top: 40px;
      left: 20px;
      display: block;
    }
  }
}