// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
  .mail {margin: 35px 30px 0 30px;}
  .menu-wrapper {margin-left: 20px; a {padding: 0 8px 19px 8px;}}
  .billboard {
    .flex-control-nav {bottom: 200px;}
    .slider-info {
      p {margin-top: 40px;}
      h1 {font-size: 50px;}}
  }
  .overslider {bottom: 40px;}
  .form .form-selector {margin-right: 17px;}
  .footer{.footer_logo {display: none;}}
}

@media (max-width: 1024px) {
  .mail {margin: 35px 10px 0 10px;}
  .menu-wrapper {margin: 5px 0 0 0;}
  .magnifier {position: absolute; right: 0; top: 70px;}
  .slides {max-height: 576px;}
  .billboard {
    .flex-control-nav {bottom: 190px;}
    .slider-info {
    h1 {font-size: 46px;}
    p {margin-top: 30px; font-size: 38px;}
    }
  }
  .overslider {bottom: 30px;}
  .form .form-selector {margin: 0 10px 0 5px;}
  .submit {margin-left: 5px;}
  .announcements {margin: 25px 0;}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .logo {padding: 43px 60px 37px 60px;}
  .magnifier {position: absolute; left: 265px; top: 35px;}
  .menu-wrapper {
    margin: 0;
    clear: both;
    z-index: 111;
    width: 100%;
    background: #363636;
    li {margin: 0; float: none;}
    a {padding: 10px 0 5px 25px;}
    a:hover {border: none;}
    .sub-menu {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      background: #272727;
      height: 130px;
      border-bottom: 3px solid #c0a878;
      li {margin: 0; border-bottom: none; width: auto; padding: 0 40px;}
      a {color: #a2a2a2; padding: 10px 0;}
    }
  }
  .menu {display: none; ul {margin: 0;}}
  .menu-toggle-line {background: #343434;}
  .menu-toggle {display: block;}
  .social-wrapper {float: left; margin-left: 10px;}
  .triangle-wrapper {position: absolute; left: -15px; top: -14px;}
  .billboard .slider-info {
    p {margin-top: 15px;}
    h1 {font-size: 36px;}
    .action {position: absolute; top: 25px; right: 15px;}
  }
  .submit {margin-top: 10px;}
  .services {margin-top: 10px;}
  .overslider {bottom: 40px;}
  .billboard .flex-control-nav {bottom: 250px;}
  .sidebar-wrapper {display: none;}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
  .social-wrapper {display: none;}
  .mail {margin: 20px 10px 0 10px;}
  .phone {margin: 20px 0 0 10px;}
  .billboard {
    .slides {height: 450px;}
    .slider-info {
      font-size: 36px;
      padding: 0 20px;

      .action {top: 15px; padding: 15px;}
      h1 {font-size: 30px;}
    }
    .flex-control-nav {bottom: 240px;}
  }
  .overslider {bottom: 0;}
  .form p {margin: 10px 0 0 0;}
  .form p input {width: 120px;}
  .submit {margin-top: 35px;}
  .about {margin-top: 30px;}
  .flexslider-2 .flex-direction-nav {
    .flex-next, .flex-prev {
      display: none;
    }
  }
  .products .products_text p {width: 50%; margin-right: 50px;}
  .news {
    .news_text {margin-top: 10px;}
    .news_text, .news_thumbnail {width: 100%;}
  }
}

// Extra small devices (portrait phones, less than 544px)
@media (max-width: 543px) {
  .logo {width: 100%; text-align: center;}
  .magnifier {right: 0; left: auto; }
  .phone, .mail {display: none;}
  .overslider {box-shadow: 0 3px 0 0 #c0a878; position: relative; background: #fafafa; bottom: 6px;}
  .form {padding: 10px; box-shadow: none; .hotel {z-index: 22;}}
  .billboard {
    .slides {height: 245px;}
    .flex-control-nav {bottom: 100px;}
    .slider-info {
      margin: 0 auto;
      p {margin-top: 5px; font-size: 22px;}
      h1 {font-size: 26px; margin: 30px 0 10px;}
      .action {padding: 5px 10px;}
     }
  }
  .overslider {bottom: 50px;}
  .news .image_thumbnail {margin-right: 0; float: none;}
  .news .news_text h6 {margin-top: 10px;}
  .products .products_text p {width: 100%;}
  .copyright_wraper .right_border {border-right: none;}
  .copyright_wraper a {display: block; margin: 0 auto; padding: 10px 0;}
  .copyright_wraper .designed {padding: 10px 0;}
  .copyright_wraper {.copyright, .designed {float: none; margin: 0 auto; text-align: center;}}
  .footer{.footer_logo {display: block; margin: 20px auto;}}
  .footer {padding-bottom: 10px;}
  .footer h3 {margin-top: 20px;}
}

@media (max-width: 425px) {
  .billboard {
    .slides {height: 220px;}
    .flex-control-nav {float: right; bottom: 70px;}
  }
  .selector-name {margin-top: 15px;}
  .form-date {width: 100%; margin: 0;}
  .form .form-selector input {width: 100%; margin-top: 10px;}
  .form .form-selector {margin: 0;}
  .form-number {width: 50%;}
  .soflow {
    background-image: url("../images/down_arrow_light.png"), linear-gradient(to right, rgba(0, 0, 0, 0) 70%, #ebebeb 40%);
    width: 90%;
    padding: 5px 20px;
    margin-top: 5px;
  }
  .submit {margin: 15px 0 0 0;}
}

@media (max-width: 375px) {
  .billboard {
    .slides {height: 215px;}
    .slider-info {
      .action {font-size: 12px;}
      h1, p {font-size: 18px; margin: 40px 0 10px;}
    }
    .flex-control-nav {bottom: 70px;}
  }
  .form-date {width: 100%; margin: 0;}
  .form .form-selector input {width: 100%; margin-top: 10px;}
  .soflow {
    background-image: url("../images/down_arrow_light.png"), linear-gradient(to right, rgba(0, 0, 0, 0) 67%, #ebebeb 40%);
    width: 140px;
  }
}

// 320px only
@media (max-width: 320px) {
  .slides {.slider-info {h1, p {font-size: 14px;} .action {padding: 5px; font-size: 12px; top: 5px;}}}

  .form .form-selector input {width: 255px;}
  .soflow {
    background-image: url("../images/down_arrow_light.png"), linear-gradient(to right, rgba(0, 0, 0, 0) 65%, #ebebeb 40%);
    width: 120px;
  }
}