@import "compass/reset";
@import "compass/css3";

body {background-image: url('../images/bg.png');}

/* ----- Clearfix ----- */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {display: inline-block;}

/* ----- FONTS ----- */
@font-face {
  font-family: 'SansRegular';
  src: url('../../../fonts/open-sans/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'SansBold';
  src: url('../../../fonts/open-sans/OpenSans-Bold.ttf');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'SansSemibold';
  src: url('../../../fonts/open-sans/OpenSans-Semibold.ttf');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'SansLight';
  src: url('../../../fonts/open-sans/OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../../../fonts/proxima-regular.otf');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../../../fonts/proxima-semibold.otf');
  font-weight: normal;
  font-style: normal;}

/* ----- VARIABLES ----- */
$sans: SansRegular, sans-serif;
$sansBold: SansBold, sans-serif;
$sansSemibold: SansSemibold, sans-serif;
$sansLight: SansLight, sans-serif;
$menu-font: ProximaNovaRegular, sans-serif;
$proximaSemibold: ProximaNovaSemibold, sans-serif;

a:focus, a:hover {text-decoration: none!important;}

/* ----- HEADER ----- */
.white-block, .grey-block  {width: 50%; height: 134px; position: absolute; z-index: 0;}
.white-block {left: 0; background: #ffffff;}
.grey-block {right: 0; background: #363636;}

.header-wrapper {position: relative; height: 134px; max-width: 1170px; margin: 0 auto; background: #363636;
  a {color: #919191; font-family: $sans;} a:hover, a:focus, a:active {color: #ffffff;}}

.logo {display: block; float: left; padding: 43px 70px 37px 15px; background: #ffffff;}
.mail {margin: 35px 70px 0 83px;}
.mail, .phone {margin-top: 35px; float: left;
  a {font-size: 13px;}
  img {margin-right: 12px}
}
.social-wrapper {float: right}
.login, .language {margin-right: 13px;}
.login, .language, .social {
  float: left;
  border: 1px solid #4c4c4c;
  text-align: center;
  margin-top: 22px;
  text-transform: uppercase;
  a {color: #7f7f7f; font-size: 11px; padding: 15px 17px; display: block; float: left;}
}
.social {padding: 10px; margin-right: 15px; a {font-size: 18px; margin: 0 4px; padding: 0;}}
.login img {margin-left: 26px;}
.language {
  position: relative;
  img {margin-left: 52px;}
  ul {margin-bottom: 0;}
  li {text-align: left; padding-bottom: 10px; display: block;}
}
.language li:hover .other {display: block;}
.other {
  display: none;
  background: #fafafa;
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  z-index: 10;

  li {border-bottom: 1px solid #ebebeb; padding: 10px 0; margin: 0 15px;}
  a {float: none; padding: 0;}
  a:hover {color: #c0a878;}
}

.magnifier {margin: 17px 15px 0 0; padding-right: 0; float: right; display: block;}
.search {
  width: 50%;
  background: #ffffff;
  position: absolute;
  right: 15px;
  top: 80px;
  height: 45px;
  border: 1px solid #e0e2e1;
  display: none;
  padding: 0 20px;}

.triangle-wrapper {
  display: block;
  width: 0;
  height: 0;
  content: '';
  margin-left: 28px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 14px solid #363636;}

.menu-toggle {
  width: 35px;
  height: 34px;
  display: none;
  position: absolute;
  top: 50px;
  left: 10px;}

.menu-toggle-line {
  width: 25px;
  height: 3px;
  display: inline-block;
  background: #ffffff;
  float: left;
  margin: 5px 3px 1px 5px;
}

.menu-wrapper {
  margin: 9px 0 0 74px;
  float: left;
  position: relative;

  li {
    float: left;
    margin-right: 35px;
    position: relative;
    text-align: left;}
  .sub-menu {
    width: 250px;
    position: absolute;
    top: 46px;
    left: 0;
    display: none;
    z-index: 10;
    transition: opacity linear 0.15s;
    text-align: center;
    background: #ffffff;
    border-top: 3px solid #c0a878;

    li {border-bottom: 1px solid #ebebeb; width: 190px; margin: 0 30px;}
    span {float: right; color: #afafaf; border-radius: 30px; background: #8c8c8c; padding: 0 7px 0 8px;}
    a {color: #8c8c8c; padding: 15px 0; font-family: $menu-font; font-size: 14px;}
    a:hover {color: #c0a878; border-bottom: none;}
  }
  .menu li:hover .sub-menu {display: block;}
  li.last {margin-right: 0; padding-right: 0;}
  a {
    color: #919191;
    display: block;
    padding: 0 10px 19px 10px;
    font-family: $menu-font;
    font-size: 17px;
    letter-spacing: 0.05em;

    span {margin-left: 15px;}
  }
  a:hover {color: #ebebeb; border-bottom: 3px solid #ffffff;}
}


/* ----- SLIDER ----- */
.billboard {
  position: relative;
  .flex-control-nav {
    padding: 0 15px;
    position: relative;
    bottom: 230px;
    z-index: 40;

    li {float: left; margin-right: 12px;}
    a {width: 13px;
    height: 13px;
    display: block;
    border: 1px solid #666;
      background: #666;
      background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;}
  }
  a.flex-active {
    background: none;
    cursor: default;
  }
  .slides {
    .container {position: relative;}
    max-height: 750px;
    overflow: hidden;
    li img {
      width: 100%
    }
  }

  .slider-info {
    width: 100%;
    padding: 0 15px;
    position: absolute;
    margin: 0 auto;
    z-index: 0;

    p {
      margin-top: 120px;
      font-family: $sans;
      font-weight: 300;
      font-size: 40px;
      color: #ffffff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
      letter-spacing: 1px;
    }

    h1 {
      font-family: $sans;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 55px;
      color: #ffffff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
      margin-bottom: 30px;
      letter-spacing: 3px;
    }

    .action {
      padding: 20px;
      color: #969696;
      font-size: 13px;
      font-weight: 700;
      line-height: 23px;
      text-align: center;
      text-transform: uppercase;
      background: #ffffff;
      border-bottom: 2px solid #cdcdcd;
      letter-spacing: 1px;
    }
  }
}


.main {
  position: relative; overflow: hidden;
  .flex-control-nav {
    position: absolute;
    right: 20px;
    top: 45px;
    z-index: 10;
    width: 100px;
    height: 20px;

    li {float: left; margin-right: 12px;}
    a {width: 13px;
      height: 13px;
      display: block;
      border: 1px solid #666;
      background: #666;
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      text-indent: -9999px;
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;}
  }
  a.flex-active {background: none; cursor: default;}
}

.overslider {
  position: absolute;
  bottom: 60px;
  left:0;
  right: 0;
  z-index: 14;
}
.sidebar-wrapper_position {position: relative;}
.sidebar-wrapper {width: 160px; position: absolute; right: 15px; top: 0; z-index: 3}
.temperature {
  background: -webkit-linear-gradient(-49deg, #fff5aa 0%, #ffa800 100%);
  background: -moz-linear-gradient(-49deg, #fff5aa 0%, #ffa800 100%);
  background: -o-linear-gradient(-49deg, #fff5aa 0%, #ffa800 100%);
  background: -ms-linear-gradient(-49deg, #fff5aa 0%, #ffa800 100%);
  background: linear-gradient(139deg, #fff5aa 0%, #ffa800 100%);
  height: 190px;
  display: block;
  margin-bottom: 3px;
}

.pictures {
  background: -webkit-linear-gradient(-49deg, #919191 6%, #353535 94%);
  background: -moz-linear-gradient(-49deg, #919191 6%, #353535 94%);
  background: -o-linear-gradient(-49deg, #919191 6%, #353535 94%);
  background: -ms-linear-gradient(-49deg, #919191 6%, #353535 94%);
  background: linear-gradient(139deg, #919191 6%, #353535 94%);
  height: 110px;
  display: block;
  margin-bottom: 3px;
}

.virtual {
  background: #ffffff;
  height: 110px;
  display: block;
  margin-bottom: 3px;
}

.temperature, .pictures, .virtual {
  p, span {
    margin: 5px 0 0 15px;
    font-family: $sans;
    color: #ffffff;
  }

  span {margin-top: 5px; display: inline-block; font-size: 30px; text-transform: uppercase;}
  .country {font-size: 15px;}
  .weather {font-size: 16px;}

  img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }

  .tour {color: #757575;}
}

.pictures, .virtual {img {margin-top: 20px;}}

.form {
  background-color:  #fafafa;
  box-shadow: 0 3px 0 0 #a6a6a6;
  overflow: hidden;
  padding: 10px 0 20px 20px;

  .hotel {
    width: 140px;
    height: 45px;
    position: absolute;
    top:-45px;
    left: 15px;
    background: #fafafa;
    background-image: url("../images/hotel.png");
    background-repeat: no-repeat;
    background-position: left 25% top 50%;

    span {
      font-family: $sansSemibold;
      font-size: 18px;
      margin-left: 70px;
      margin-top: 13px;
      display: inline-block;
      color: #5f5f5f;
    }
  }

  .form-selector {
    float: left;
    font-family: $sans;
    font-size: 14px;
    color: #636363;
    margin-right: 50px;

    input {
      width: 140px;
      height: 40px;
      border: 1px solid #ebebeb;
      font-family: $sans;
      color:  #c2c2c2;
      font-size: 13px;
      margin-top: 15px;
    }

    .datepicker {background: url("../images/calendar.png")no-repeat right 10% top 50%; padding-left: 15px;}
    .datepicker:focus {border: 1px solid #c0a878; outline: none;}
    select {outline: none;}
  }
}

.soflow {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  user-select: none;
  background-color: #ffffff;
  background-image: url('../images/down_arrow_light.png'), linear-gradient(left, transparent 60%, #ebebeb 40%);
  background-position: 87% center;
  background-repeat: no-repeat;
  border: 1px solid #ebebeb;
  margin-top: 15px;
  padding: 5px 15px;
  width: 80px;
  height: 40px;
  font-family: $sans;
  color:  #c2c2c2;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}

.submit {
  background-image: url('../images/button_bg.png');
  width: 180px;
  height: 40px;
  border: none;
  font-family: $sans;
  color: #ffffff;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 35px;
  margin-left: 15px;
}

/* ----- DATEPICKER ----- */
.ui-datepicker {
  z-index: 55!important;
  padding: 0!important;

  .ui-datepicker-header {
    background: #c0a878;
    padding: 1.2em 0 !important;
    border: none;

    //.ui-icon {background-image: url("../../../js/jquery-ui/images/ui-icons_ffffff_256x240.png");}
  }

  .ui-datepicker-prev, .ui-datepicker-next {margin-top: 1.1em;}

  .ui-datepicker-calendar{
    .ui-state-default {
      color: #959595;
      background: #ffffff;
      border: none;
      font-family: $menu-font;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }
}

.ui-widget-content {border: none!important;}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 0!important;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 0!important;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0!important;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0!important;
}
/* ----- DATEPICKER END----- */

.services {
  width: 25%;
  float: left;
  text-align: center;
  font-family: $sans;
  color:  #959595;
  font-size: 14px;
  line-height: 20px;
  margin-top: 50px;
  padding: 0 10px;

  a {
    width: 25%;
    height: 60px;
    color: #c2c2c2;
    font-family: $sans;
    font-size: 15px;

    img {margin-left: 10px;}
  }

  .services-1, .services-2, .services-3, .services-4 {display: block; width: 66px; margin: 0 auto;;}
  .services-1 {background: url('../images/services-1.png')center no-repeat;}
  .services-2 {background: url('../images/services-2.png')center no-repeat;}
  .services-3 {background: url('../images/services-3.png')center no-repeat;}
  .services-4 {background: url('../images/services-4.png')center no-repeat;}

  h5 {
    font-family: $sans;
    color:  #464646;
    font-size: 20px;
  }

  .last {margin-right: 0; padding-right: 0;}
}

.active-div {
  a, a:hover {color: #c0a878;}
  h5 {color: #c0a878;}

  .services-1 {background: url('../images/services-1-hov.png')center no-repeat;}
  .services-2 {background: url('../images/services-2-hov.png')center no-repeat;}
  .services-3 {background: url('../images/services-3-hov.png')center no-repeat;}
  .services-4 {background: url('../images/services-4-hov.png')center no-repeat;}
}

.about {
  clear: both;
  margin-top: 50px;

  h2 {
    font-family: $sansLight;
    color: #c0a878;
    font-size: 40px;
    text-align: center;
  }

  p {
    font-family: $sansLight;
    color:  #959595;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }

  .bottom-div {margin-bottom: 60px;}

  .block:hover {border: 13px solid #959595;}
  .block {
    border: 13px solid #464646;
    text-align: center;
    margin-bottom: 30px;

    span {
      font-family: $sansBold;
      color:  #464646;
      font-size: 18px;
      text-transform: uppercase;
      margin: 60px 0 20px 0;
      display: inline-block;
    }
    p {
      margin-bottom: 30px;
      font-family: $sans;
      color:  #959595;
      font-size: 14px;
      line-height: 24px;
      padding: 0 50px;
    }
    a {
      color: #c2c2c2;
      font-family: $sans;
      font-size: 15px;
      padding-bottom: 20px;
      display: block;
      margin: 0 auto;

      img {margin-left: 10px;}
    }
    a:hover {color: #c0a878;}
  }
}

.news, .products {h4 {color: #009fe3;}}
.announcements {margin-bottom: 29px; h4 {color: #3faf6c;}}

.news, .announcements, .products {
  background: #ffffff;
  border: 1px solid #eaeaea;
  padding: 20px 30px;
  float: left;
  width: 100%;

  a {
    font-family: $sansLight;
    font-size: 14px;
    color: #757575;
    display: inline-block;
    margin-bottom: 10px;
  }

  a:hover {color: #009fe3;}

  h4 {
    font-family: $sansBold;
    font-size: 24px;
    margin-bottom: 30px;
    display: inline-block;
  }

  .view {
    border: 1px solid #e1e1e1;
    color: #a3a3a3;
    font-family: $sans;
    font-size: 15px;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    text-align: center;

    img {margin-left: 10px;}
  }

  .news_thumbnail {
    width: 600px;
    display: block;
    overflow: hidden;
    margin-bottom: 23px;
  }

  .blue {
    width: 105px;
    background: #009fe3;
    position: relative;
    float: left;

    a {display: block;}

    p {
      margin-left: 20px;
      margin-bottom: 5px;
      font-family: $sansBold;
      font-size: 22px;
      color: #ffffff;
    }

    img {margin: 20px 0 20px 20px;}

    .triangle {
      position: absolute;
      top: 90px;
      left: 105px;
      content: '';
      height: 0;
      width: 0;
      border-top: 10px solid transparent;
      border-left: 10px solid #009fe3;
      border-bottom: 10px solid transparent;
    }
  }

  .image_thumbnail {
    float: left;
    overflow: hidden;
    margin-right: 20px;
    height: 136px;
  }

  .announcements_text {width: 100%; margin-bottom: 15px;}
  .news_text {width: 40%;}

  .news_text, .announcements_text {
    display: block;
    float: left;

    h6 {
      font-family: $sansSemibold;
      font-size: 18px;
      color: #595f6f;
      margin-top: 0;
    }

    p {
      font-family: $sansLight;
      font-size: 15px;
      color: #8e97ac;
    }
  }

  .bottom-border {border-bottom: 1px solid #eaeaea;}

  .products_text {
    p {
      width: 50%;
      float: left;
      margin-right: 15px;
    }
  }
}


.bottom-last {margin-bottom: 0!important; border-bottom: none!important;}

.footer {
  width: 100%;
  background: #383838;
  margin-top: 30px;
  padding-bottom: 50px;

  h3 {
    margin-top: 50px;
    font-family: $sansSemibold;
    font-size: 24px;
    color: #acacac;
    margin-bottom: 30px;
  }

  p {
    font-family: $sans;
    font-size: 14px;
    color: #959595;
  }

  a {
    color: #636363;
    font-family: $sans;
    font-size: 15px;
    display: block;
    margin-bottom: 15px;

    img {margin-left: 10px;}
  }

  a:hover {color: #acacac;}

  .contact_wraper {
    width: 270px;
    border-bottom: 1px solid #464646;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 15px;

    .contact_title {
      width: 80px;
      color: #c0a878;
      font-family: $sans;
      font-size: 14px;

      img {float: left;}
      span {float: right;}
    }

    .contact_data {
      color: #acacac;
      font-family: $sans;
      font-size: 14px;
      margin-left: 20px;
    }
  }

  .footer_logo {
    margin: 0 auto;
    display: block;
    margin-top: 150px;
  }
}

.copyright_wraper {
  width: 100%;
  background: #3f3f3f;

  .copyright {float: left;}
  .designed {float: right;}

  .copyright, .designed {margin: 30px 0; color: #9a9a9a; font-family: $sans; font-size: 14px;}

  a {
    font-family: $sans;
    font-size: 14px;
    color: #9a9a9a;
   padding-right: 15px;
    margin-right: 15px;
  }

  a:hover {color: #acacac;}
  .right_border {border-right: 2px solid #868686;}
}