@media screen and (max-width: 1080px) {
  /* line 3, ../sass/responsive.scss */
  .header-contacts {
    display: none;
  }

  /* line 7, ../sass/responsive.scss */
  .menu-wrapper .menu-toggle {
    position: absolute;
    top: 40px;
    left: 20px;
    display: block;
  }
}
