@media (max-width: 1199px) {
  /* line 3, ../sass/responsive.scss */
  .mail {
    margin: 35px 30px 0 30px;
  }

  /* line 4, ../sass/responsive.scss */
  .menu-wrapper {
    margin-left: 20px;
  }
  /* line 4, ../sass/responsive.scss */
  .menu-wrapper a {
    padding: 0 8px 19px 8px;
  }

  /* line 6, ../sass/responsive.scss */
  .billboard .flex-control-nav {
    bottom: 200px;
  }
  /* line 8, ../sass/responsive.scss */
  .billboard .slider-info p {
    margin-top: 40px;
  }
  /* line 9, ../sass/responsive.scss */
  .billboard .slider-info h1 {
    font-size: 50px;
  }

  /* line 11, ../sass/responsive.scss */
  .overslider {
    bottom: 40px;
  }

  /* line 12, ../sass/responsive.scss */
  .form .form-selector {
    margin-right: 17px;
  }

  /* line 13, ../sass/responsive.scss */
  .footer .footer_logo {
    display: none;
  }
}
@media (max-width: 1024px) {
  /* line 17, ../sass/responsive.scss */
  .mail {
    margin: 35px 10px 0 10px;
  }

  /* line 18, ../sass/responsive.scss */
  .menu-wrapper {
    margin: 5px 0 0 0;
  }

  /* line 19, ../sass/responsive.scss */
  .magnifier {
    position: absolute;
    right: 0;
    top: 70px;
  }

  /* line 20, ../sass/responsive.scss */
  .slides {
    max-height: 576px;
  }

  /* line 22, ../sass/responsive.scss */
  .billboard .flex-control-nav {
    bottom: 190px;
  }
  /* line 24, ../sass/responsive.scss */
  .billboard .slider-info h1 {
    font-size: 46px;
  }
  /* line 25, ../sass/responsive.scss */
  .billboard .slider-info p {
    margin-top: 30px;
    font-size: 38px;
  }

  /* line 28, ../sass/responsive.scss */
  .overslider {
    bottom: 30px;
  }

  /* line 29, ../sass/responsive.scss */
  .form .form-selector {
    margin: 0 10px 0 5px;
  }

  /* line 30, ../sass/responsive.scss */
  .submit {
    margin-left: 5px;
  }

  /* line 31, ../sass/responsive.scss */
  .announcements {
    margin: 25px 0;
  }
}
@media (max-width: 991px) {
  /* line 36, ../sass/responsive.scss */
  .logo {
    padding: 43px 60px 37px 60px;
  }

  /* line 37, ../sass/responsive.scss */
  .magnifier {
    position: absolute;
    left: 265px;
    top: 35px;
  }

  /* line 38, ../sass/responsive.scss */
  .menu-wrapper {
    margin: 0;
    clear: both;
    z-index: 111;
    width: 100%;
    background: #363636;
  }
  /* line 44, ../sass/responsive.scss */
  .menu-wrapper li {
    margin: 0;
    float: none;
  }
  /* line 45, ../sass/responsive.scss */
  .menu-wrapper a {
    padding: 10px 0 5px 25px;
  }
  /* line 46, ../sass/responsive.scss */
  .menu-wrapper a:hover {
    border: none;
  }
  /* line 47, ../sass/responsive.scss */
  .menu-wrapper .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #272727;
    height: 130px;
    border-bottom: 3px solid #c0a878;
  }
  /* line 55, ../sass/responsive.scss */
  .menu-wrapper .sub-menu li {
    margin: 0;
    border-bottom: none;
    width: auto;
    padding: 0 40px;
  }
  /* line 56, ../sass/responsive.scss */
  .menu-wrapper .sub-menu a {
    color: #a2a2a2;
    padding: 10px 0;
  }

  /* line 59, ../sass/responsive.scss */
  .menu {
    display: none;
  }
  /* line 59, ../sass/responsive.scss */
  .menu ul {
    margin: 0;
  }

  /* line 60, ../sass/responsive.scss */
  .menu-toggle-line {
    background: #343434;
  }

  /* line 61, ../sass/responsive.scss */
  .menu-toggle {
    display: block;
  }

  /* line 62, ../sass/responsive.scss */
  .social-wrapper {
    float: left;
    margin-left: 10px;
  }

  /* line 63, ../sass/responsive.scss */
  .triangle-wrapper {
    position: absolute;
    left: -15px;
    top: -14px;
  }

  /* line 65, ../sass/responsive.scss */
  .billboard .slider-info p {
    margin-top: 15px;
  }
  /* line 66, ../sass/responsive.scss */
  .billboard .slider-info h1 {
    font-size: 36px;
  }
  /* line 67, ../sass/responsive.scss */
  .billboard .slider-info .action {
    position: absolute;
    top: 25px;
    right: 15px;
  }

  /* line 69, ../sass/responsive.scss */
  .submit {
    margin-top: 10px;
  }

  /* line 70, ../sass/responsive.scss */
  .services {
    margin-top: 10px;
  }

  /* line 71, ../sass/responsive.scss */
  .overslider {
    bottom: 40px;
  }

  /* line 72, ../sass/responsive.scss */
  .billboard .flex-control-nav {
    bottom: 250px;
  }

  /* line 73, ../sass/responsive.scss */
  .sidebar-wrapper {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 78, ../sass/responsive.scss */
  .social-wrapper {
    display: none;
  }

  /* line 79, ../sass/responsive.scss */
  .mail {
    margin: 20px 10px 0 10px;
  }

  /* line 80, ../sass/responsive.scss */
  .phone {
    margin: 20px 0 0 10px;
  }

  /* line 82, ../sass/responsive.scss */
  .billboard .slides {
    height: 450px;
  }
  /* line 83, ../sass/responsive.scss */
  .billboard .slider-info {
    font-size: 36px;
    padding: 0 20px;
  }
  /* line 87, ../sass/responsive.scss */
  .billboard .slider-info .action {
    top: 15px;
    padding: 15px;
  }
  /* line 88, ../sass/responsive.scss */
  .billboard .slider-info h1 {
    font-size: 30px;
  }
  /* line 90, ../sass/responsive.scss */
  .billboard .flex-control-nav {
    bottom: 240px;
  }

  /* line 92, ../sass/responsive.scss */
  .overslider {
    bottom: 0;
  }

  /* line 93, ../sass/responsive.scss */
  .form p {
    margin: 10px 0 0 0;
  }

  /* line 94, ../sass/responsive.scss */
  .form p input {
    width: 120px;
  }

  /* line 95, ../sass/responsive.scss */
  .submit {
    margin-top: 35px;
  }

  /* line 96, ../sass/responsive.scss */
  .about {
    margin-top: 30px;
  }

  /* line 98, ../sass/responsive.scss */
  .flexslider-2 .flex-direction-nav .flex-next, .flexslider-2 .flex-direction-nav .flex-prev {
    display: none;
  }

  /* line 102, ../sass/responsive.scss */
  .products .products_text p {
    width: 50%;
    margin-right: 50px;
  }

  /* line 104, ../sass/responsive.scss */
  .news .news_text {
    margin-top: 10px;
  }
  /* line 105, ../sass/responsive.scss */
  .news .news_text, .news .news_thumbnail {
    width: 100%;
  }
}
@media (max-width: 543px) {
  /* line 111, ../sass/responsive.scss */
  .logo {
    width: 100%;
    text-align: center;
  }

  /* line 112, ../sass/responsive.scss */
  .magnifier {
    right: 0;
    left: auto;
  }

  /* line 113, ../sass/responsive.scss */
  .phone, .mail {
    display: none;
  }

  /* line 114, ../sass/responsive.scss */
  .overslider {
    box-shadow: 0 3px 0 0 #c0a878;
    position: relative;
    background: #fafafa;
    bottom: 6px;
  }

  /* line 115, ../sass/responsive.scss */
  .form {
    padding: 10px;
    box-shadow: none;
  }
  /* line 115, ../sass/responsive.scss */
  .form .hotel {
    z-index: 22;
  }

  /* line 117, ../sass/responsive.scss */
  .billboard .slides {
    height: 245px;
  }
  /* line 118, ../sass/responsive.scss */
  .billboard .flex-control-nav {
    bottom: 100px;
  }
  /* line 119, ../sass/responsive.scss */
  .billboard .slider-info {
    margin: 0 auto;
  }
  /* line 121, ../sass/responsive.scss */
  .billboard .slider-info p {
    margin-top: 5px;
    font-size: 22px;
  }
  /* line 122, ../sass/responsive.scss */
  .billboard .slider-info h1 {
    font-size: 26px;
    margin: 30px 0 10px;
  }
  /* line 123, ../sass/responsive.scss */
  .billboard .slider-info .action {
    padding: 5px 10px;
  }

  /* line 126, ../sass/responsive.scss */
  .overslider {
    bottom: 50px;
  }

  /* line 127, ../sass/responsive.scss */
  .news .image_thumbnail {
    margin-right: 0;
    float: none;
  }

  /* line 128, ../sass/responsive.scss */
  .news .news_text h6 {
    margin-top: 10px;
  }

  /* line 129, ../sass/responsive.scss */
  .products .products_text p {
    width: 100%;
  }

  /* line 130, ../sass/responsive.scss */
  .copyright_wraper .right_border {
    border-right: none;
  }

  /* line 131, ../sass/responsive.scss */
  .copyright_wraper a {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }

  /* line 132, ../sass/responsive.scss */
  .copyright_wraper .designed {
    padding: 10px 0;
  }

  /* line 133, ../sass/responsive.scss */
  .copyright_wraper .copyright, .copyright_wraper .designed {
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  /* line 134, ../sass/responsive.scss */
  .footer .footer_logo {
    display: block;
    margin: 20px auto;
  }

  /* line 135, ../sass/responsive.scss */
  .footer {
    padding-bottom: 10px;
  }

  /* line 136, ../sass/responsive.scss */
  .footer h3 {
    margin-top: 20px;
  }
}
@media (max-width: 425px) {
  /* line 141, ../sass/responsive.scss */
  .billboard .slides {
    height: 220px;
  }
  /* line 142, ../sass/responsive.scss */
  .billboard .flex-control-nav {
    float: right;
    bottom: 70px;
  }

  /* line 144, ../sass/responsive.scss */
  .selector-name {
    margin-top: 15px;
  }

  /* line 145, ../sass/responsive.scss */
  .form-date {
    width: 100%;
    margin: 0;
  }

  /* line 146, ../sass/responsive.scss */
  .form .form-selector input {
    width: 100%;
    margin-top: 10px;
  }

  /* line 147, ../sass/responsive.scss */
  .form .form-selector {
    margin: 0;
  }

  /* line 148, ../sass/responsive.scss */
  .form-number {
    width: 50%;
  }

  /* line 149, ../sass/responsive.scss */
  .soflow {
    background-image: url("../images/down_arrow_light.png"), linear-gradient(to right, transparent 70%, #ebebeb 40%);
    width: 90%;
    padding: 5px 20px;
    margin-top: 5px;
  }

  /* line 155, ../sass/responsive.scss */
  .submit {
    margin: 15px 0 0 0;
  }
}
@media (max-width: 375px) {
  /* line 160, ../sass/responsive.scss */
  .billboard .slides {
    height: 215px;
  }
  /* line 162, ../sass/responsive.scss */
  .billboard .slider-info .action {
    font-size: 12px;
  }
  /* line 163, ../sass/responsive.scss */
  .billboard .slider-info h1, .billboard .slider-info p {
    font-size: 18px;
    margin: 40px 0 10px;
  }
  /* line 165, ../sass/responsive.scss */
  .billboard .flex-control-nav {
    bottom: 70px;
  }

  /* line 167, ../sass/responsive.scss */
  .form-date {
    width: 100%;
    margin: 0;
  }

  /* line 168, ../sass/responsive.scss */
  .form .form-selector input {
    width: 100%;
    margin-top: 10px;
  }

  /* line 169, ../sass/responsive.scss */
  .soflow {
    background-image: url("../images/down_arrow_light.png"), linear-gradient(to right, transparent 67%, #ebebeb 40%);
    width: 140px;
  }
}
@media (max-width: 320px) {
  /* line 177, ../sass/responsive.scss */
  .slides .slider-info h1, .slides .slider-info p {
    font-size: 14px;
  }
  /* line 177, ../sass/responsive.scss */
  .slides .slider-info .action {
    padding: 5px;
    font-size: 12px;
    top: 5px;
  }

  /* line 179, ../sass/responsive.scss */
  .form .form-selector input {
    width: 255px;
  }

  /* line 180, ../sass/responsive.scss */
  .soflow {
    background-image: url("../images/down_arrow_light.png"), linear-gradient(to right, transparent 65%, #ebebeb 40%);
    width: 120px;
  }
}
