/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  background-image: url("../images/bg.png");
}

/* ----- Clearfix ----- */
/* line 13, ../sass/screen.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 21, ../sass/screen.scss */
.clearfix {
  display: inline-block;
}

/* ----- FONTS ----- */
@font-face {
  font-family: "ProximaNova";
  src: url('/fonts/proxima-regular.otf') format('opentype');
}
/* ----- VARIABLES ----- */
/* ----- HEADER ----- */
/* line 33, ../sass/screen.scss */
.white-block {
  width: 50%;
  height: 134px;
  float: left;
  background: #ffffff;
}

/* line 34, ../sass/screen.scss */
.grey-block {
  width: 50%;
  height: 134px;
  background: #363636;
  float: left;
}

/* line 36, ../sass/screen.scss */
.top-block {
  position: relative;
  top: -134px;
  margin-bottom: -134px;
  background: #363636;
  float: left;
  height: 134px;
}
/* line 44, ../sass/screen.scss */
.top-block .col-lg-3 {
  padding-left: 0;
  padding-right: 0;
}
/* line 49, ../sass/screen.scss */
.top-block .mail, .top-block .phone {
  margin-top: 25px;
  margin-left: 30px;
  width: 150px;
}
/* line 54, ../sass/screen.scss */
.top-block .mail a, .top-block .phone a {
  text-decoration: none;
  color: #919191;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-size: 13px;
}
/* line 62, ../sass/screen.scss */
.top-block .mail img, .top-block .phone img {
  margin-right: 10px;
}
/* line 65, ../sass/screen.scss */
.top-block .login, .top-block .language, .top-block .social {
  margin-top: 15px;
  margin-left: 10px;
  text-decoration: none;
  border: 1px solid #4c4c4c;
  padding: 0;
  width: auto;
  text-align: center;
}
/* line 75, ../sass/screen.scss */
.top-block .login {
  width: 120px;
}
/* line 77, ../sass/screen.scss */
.top-block .login a {
  color: #7f7f7f;
  text-decoration: none;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-size: 11px;
  padding: 10px 20px;
  display: block;
}
/* line 86, ../sass/screen.scss */
.top-block .login a img {
  margin-left: 25px;
}
/* line 92, ../sass/screen.scss */
.top-block .language {
  text-transform: uppercase;
  width: 120px;
}
/* line 97, ../sass/screen.scss */
.top-block .language ul {
  margin-bottom: 0;
}
/* line 100, ../sass/screen.scss */
.top-block .language ul li {
  text-align: left;
}
/* line 104, ../sass/screen.scss */
.top-block .language ul img {
  margin-left: 50px;
}
/* line 107, ../sass/screen.scss */
.top-block .language a {
  display: block;
  padding: 10px 0 10px 20px;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #7f7f7f;
  text-decoration: none;
}
/* line 117, ../sass/screen.scss */
.top-block .language ul li:hover .other {
  display: block;
}
/* line 119, ../sass/screen.scss */
.top-block .language .other {
  display: none;
  background: #fafafa;
  position: absolute;
  top: 36px;
  left: -1px;
  width: 121px;
  z-index: 10;
}
/* line 128, ../sass/screen.scss */
.top-block .language .other li {
  border-bottom: 1px solid #ebebeb;
  padding-left: 10px;
}
/* line 132, ../sass/screen.scss */
.top-block .language .other li a {
  width: auto;
  display: block;
}
/* line 138, ../sass/screen.scss */
.top-block .language .other a:hover {
  color: #c0a878;
}
/* line 142, ../sass/screen.scss */
.top-block .social {
  float: right;
  width: 155px;
}
/* line 146, ../sass/screen.scss */
.top-block .social a {
  color: #808080;
}
/* line 148, ../sass/screen.scss */
.top-block .social a .fa {
  padding: 10px;
  font-size: 16px;
}
/* line 151, ../sass/screen.scss */
.top-block .social a:hover {
  color: #ebebeb;
}
/* line 154, ../sass/screen.scss */
.top-block .menu-wrapper {
  float: left;
  margin-top: 25px;
}
/* line 158, ../sass/screen.scss */
.top-block .menu-wrapper li {
  float: left;
  margin-right: 44px;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  position: relative;
  text-align: left;
}
/* line 166, ../sass/screen.scss */
.top-block .menu-wrapper li .sub-menu {
  width: 250px;
  position: absolute;
  top: 46px;
  left: 0;
  display: none;
  z-index: 10;
  transition: opacity linear 0.15s;
  text-align: center;
  background: #ffffff;
  border-top: 3px solid #c0a878;
}
/* line 178, ../sass/screen.scss */
.top-block .menu-wrapper li .sub-menu li {
  border-bottom: 1px solid #ebebeb;
  width: 190px;
  margin: 0 30px;
}
/* line 179, ../sass/screen.scss */
.top-block .menu-wrapper li .sub-menu span {
  float: right;
  color: #afafaf;
  border-radius: 30px;
  background: #8c8c8c;
  padding: 0 7px;
}
/* line 180, ../sass/screen.scss */
.top-block .menu-wrapper li .sub-menu a {
  color: #8c8c8c;
  padding: 15px 0;
  font-family: ProximaNova, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
/* line 181, ../sass/screen.scss */
.top-block .menu-wrapper li .sub-menu a:hover {
  color: #c0a878;
  border-bottom: none;
}
/* line 185, ../sass/screen.scss */
.top-block .menu-wrapper li .sub-menu a:hover span {
  color: #c7bcaa;
  background: #c0a977;
}
/* line 190, ../sass/screen.scss */
.top-block .menu-wrapper .menu li:hover .sub-menu {
  display: block;
}
/* line 194, ../sass/screen.scss */
.top-block .menu-wrapper li.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 196, ../sass/screen.scss */
.top-block .menu-wrapper a {
  color: #919191;
  text-decoration: none;
  display: block;
  padding: 0 10px 19px 10px;
  font-family: ProximaNova, sans-serif;
  font-size: 17px;
  font-weight: 400;
}
/* line 205, ../sass/screen.scss */
.top-block .menu-wrapper a span {
  margin-left: 15px;
}
/* line 208, ../sass/screen.scss */
.top-block .menu-wrapper a:hover {
  color: #ebebeb;
  border-bottom: 3px solid #ffffff;
}
/* line 211, ../sass/screen.scss */
.top-block .last {
  padding-right: 0;
}
/* line 212, ../sass/screen.scss */
.top-block .magnifier {
  margin-top: 30px;
  padding-right: 0;
  float: right;
  display: block;
}
/* line 213, ../sass/screen.scss */
.top-block .search {
  min-width: 852px;
  background: #ffffff;
  position: relative;
  left: -770px;
  top: -30px;
  height: 41px;
  border: 1px solid #e0e2e1;
  display: none;
}

/* ----- SLIDER ----- */
/* line 226, ../sass/screen.scss */
.slider-info {
  width: 1170px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
}
/* line 233, ../sass/screen.scss */
.slider-info p {
  margin-top: 120px;
  font-family: OpenSans, sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
  letter-spacing: 1px;
}
/* line 243, ../sass/screen.scss */
.slider-info h1 {
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 55px;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
  margin-bottom: 30px;
  letter-spacing: 3px;
}
/* line 254, ../sass/screen.scss */
.slider-info .action {
  padding: 20px;
  color: #969696;
  font-size: 13px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  background: #ffffff;
  border-bottom: 2px solid #cdcdcd;
  text-decoration: none;
  letter-spacing: 1px;
}

/* line 269, ../sass/screen.scss */
#billboard {
  position: relative;
}

/* line 271, ../sass/screen.scss */
.overslider {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  z-index: 3;
}
/* line 278, ../sass/screen.scss */
.overslider .row {
  margin-right: -30px;
  margin-left: -30px;
}

/* line 284, ../sass/screen.scss */
.temperature {
  background: -webkit-linear-gradient(-49deg, #fff5aa 0%, #ffa800 100%);
  background: -moz-linear-gradient(-49deg, #fff5aa 0%, #ffa800 100%);
  background: -o-linear-gradient(-49deg, #fff5aa 0%, #ffa800 100%);
  background: -ms-linear-gradient(-49deg, #fff5aa 0%, #ffa800 100%);
  background: linear-gradient(139deg, #fff5aa 0%, #ffa800 100%);
  width: 160px;
  height: 200px;
  position: absolute;
  right: 0;
  top: -557px;
}

/* line 297, ../sass/screen.scss */
.pictures {
  background: -webkit-linear-gradient(-49deg, #919191 6%, #353535 94%);
  background: -moz-linear-gradient(-49deg, #919191 6%, #353535 94%);
  background: -o-linear-gradient(-49deg, #919191 6%, #353535 94%);
  background: -ms-linear-gradient(-49deg, #919191 6%, #353535 94%);
  background: linear-gradient(139deg, #919191 6%, #353535 94%);
  width: 160px;
  height: 123px;
  position: absolute;
  right: 0;
  top: -354px;
}

/* line 310, ../sass/screen.scss */
.virtual {
  background: #ffffff;
  width: 160px;
  height: 123px;
  position: absolute;
  right: 0;
  top: -228px;
}

/* line 323, ../sass/screen.scss */
.services {
  width: 25%;
  float: left;
  text-align: center;
  font-family: OpenSans, sans-serif;
  color: #959595;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 50px;
}
/* line 334, ../sass/screen.scss */
.services a {
  text-decoration: none;
  color: #c2c2c2;
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
/* line 343, ../sass/screen.scss */
.services h6 {
  font-family: OpenSans, sans-serif;
  color: #464646;
  font-size: 20px;
  font-weight: 600;
}
/* line 350, ../sass/screen.scss */
.services a:hover {
  color: #c0a878;
  text-decoration: none;
}
/* line 352, ../sass/screen.scss */
.services .last {
  margin-right: 0;
  padding-right: 0;
}

/* line 356, ../sass/screen.scss */
.form {
  background-color: #fafafa;
  box-shadow: 0 3px 0 0 #a6a6a6;
  width: 100%;
  height: 128px;
  overflow: hidden;
}
/* line 363, ../sass/screen.scss */
.form p {
  float: left;
  width: 100px;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  margin-right: 40px;
  margin-left: 15px;
  margin-top: 30px;
}
/* line 374, ../sass/screen.scss */
.form p input {
  width: 140px;
  height: 40px;
  border: 1px solid #ebebeb;
  font-family: OpenSans, sans-serif;
  color: #c2c2c2;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  margin-top: 15px;
}

/* line 389, ../sass/screen.scss */
.soflow {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  user-select: none;
  background-color: #ffffff;
  background-image: url("../images/down_arrow_light.png"), linear-gradient(to right, rgba(0, 0, 0, 0) 60%, #ebebeb 40%);
  background-position: 87% center;
  background-repeat: no-repeat;
  border: 1px solid #ebebeb;
  margin-top: 15px;
  padding: 5px 15px;
  width: 80px;
  height: 40px;
  font-family: OpenSans, sans-serif;
  color: #c2c2c2;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}

/* line 411, ../sass/screen.scss */
.submit {
  background-image: url("../images/button_bg.png");
  width: 180px;
  height: 40px;
  border: none;
  font-family: OpenSans, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 65px;
}
